.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: .25rem;
}

.expense-amount {
  color: #ea6666;
  font-weight: bold;
}

.expense-item .user-favicon {
  height: 25px;
}

.expense-item .user-favicon img {
  width: 25px;
  height: 25px;
}