.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0px 0px 4px #2c3c77;
  border-radius: 5px;
  margin-top: 1rem;
 }

 @media (min-width: 600px) {
  .card {
    padding: 1rem 2rem;
  }
}