.statement {
  font-size: 18px;
  color: #2c3c77;
  text-align: center;
  margin-right: 5px;
}

.statement div {
  margin-left: 10px;
}

.statementReady {
  background-color: black;
  color: white;
}

.statementEarly {
  background-color: white;
  color: black;
}

.statementSettled {
  background-color: green;
  color: white;
}

.statementOverdue {
  background-color: red;
  color: black;
}

