.small-owe-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.small-owe-who, .owe-what {
  font-size: 18px;
}

.small-owe-amount {
  font-size: 30px;
  color: red;
}

.small-owe-positive {
  color: green;
}