.signup{
  width:100vw;
  height:100vh;
  background: #fff
}

.logo{
  width:80vw;
  height:50vh;
  
}

#bg{
  background-color:#EA6666 ;
}

.login-txt{
  color:white;
  font-family:'Open Sans', sans-serif;
  size:72px;
}
