.expense-category .expense {
  flex-flow: column;
}

.expense-category .category-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-bottom: .75rem;
}

.expense-category .category-title {
  margin-top: 0;
  border-bottom: solid #2c3c77 2px;
  padding: 0rem .25rem;
  font-size: 22px;;
}

.category-total {
  border-bottom: solid #2c3c77 2px;
  font-size: 18px;
}

.expense-amount {
  color: #ea6666;
  font-weight: bold;
}