.expense-category .expense {
  flex-flow: column;
}

.expense-category .category-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.expense-category .category-title {
  margin-top: 0;
  padding: 0rem .25rem;
  font-size: 20px;
  color: #2c3c77;
  font-weight: bold;
}

.category-total {
  font-size: 18px;
  padding: .25rem .75rem;
  background-color: rgba(44, 60, 119, .75);
  border-radius: 5px;
  color: white;
}

.total-amount {
  font-weight: bold;
}