.app {
display: flex;
justify-content: center;
width: 100%;
margin-bottom: 105px;
}

.header {
  width: 100%;
  height: 60px;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
  width: 50vw;
  fill:#EA6666;
}

.splash{

  max-width: 100vw ;
  max-height: 100vh;
  
}

.splashscreen{
  display: flex;
  height:100vh;
  align-items: center;
  background-color:#EA6666 ;
}