@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
    font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hold-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hold-column {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
